<div class="row">
	<div class="large-12 columns">
		<h1 align="center">Update Test</h1>
		<%= render 'form' %>
    <%= link_to image_tag('512/ios7-close.png', size: '40x40', alt: 'Delete Test') + 'Delete Test', @test, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>